.inclusion{
    padding: 100px 0 190px;
}

.inclusion__top {
    margin-bottom: 190px;
}

.inclusion__content-row:first-child{
    margin-bottom: 50px;
}

.inclusion-top-title {
    font-family: 'DM Serif Display';
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    color: #1E212B;
}

.inclusion__dignites-item-img {
    height: 20px;
    margin-bottom: 12px;
}

.inclusion__dignites-item-title {
    margin-bottom: 12px;

    font-family: 'DM Serif Display';
    font-size: 21px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.7200000286102295px;
}