.ex-maket {
    height: 590px;
}
.ex-maket__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ex-maket__items-content {
    display: flex;
    justify-content: space-between;
}
.ex-maket__items-content:first-child{
    padding-left: 0;
}
.ex-maket__items-content:last-child{
    padding-right: 0;
}
.ex-maket__item {
    padding: 0 10px 10px;
}
.ex-maket__item-img {

}