.ex-maket {
    width: 100%;
    margin-bottom: 100px;
}
.ex-maket__items {
    display: flex;
    flex-direction: column;
}
.ex-maket__items-content {
    display: flex;
    justify-content: space-between;
}

.ex-maket__item {
    padding: 11px 11px 11px;
}
.ex-maket__item:last-child {
    padding-right: 0;
}
.ex-maket__item:first-child {
    padding-left: 0;
}
